.imgss 
{
		display: inline-block;
		/*float: left;*/
		width: 33%;
		height: 100%;
}
.imgss img {

	height: 100%;
	width: 100%;
	
}

.container {
	/*display: block;*/
	height: 400px;
}

.common {
	font-size: 30px;
	color: white;
}

.first{
	background-color: green;
}
.second{
	background-color: red;
}
.third{
	background-color: blue;
}