* {
	margin: 0;
	padding: 0;
	border: none;
	list-style-type: none;
}

body {
	background-image: url("trackBike.jpg");
	background-repeat: no-repeat;
	background-size: 1920px 938px;
	
}

div ul li{
	float: left;
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
}

div ul li a {
	background-color: #057BE3;
	color: #fa2;
	display: block;
	font-family: arial;
	font-size: 18px;
	padding: 22px 14px;
	text-decoration: none;
	height: 10px;
	
}

#myBtn {	
	padding: 12px;
    position: relative;
    border-radius: 4px;
    border: 0px;
    white-space: pre-wrap;
	background-color: #057BE3;
    color: #fa2;
    display: block;
    font-family: arial;
    font-size: 18px;
    padding: 22px 14px;
    text-decoration: none;
    height: 1px;
}

.myDescription {
	color: green;
	float: right;
	font-size: 10;
	padding-right: 95px;
	position: relative;
	
}

#bikePrice {
	position: relative;
	color: blue;
	float: left;
}

.myPara {
	position: relative;
	float: left;
	color: blue;
}

.numberCls {
	position: relative;
	display: inline-block;
	color: blue;
	padding-left: 150px;
}

div ul li ul {
	display: none;
	position: absolute;
	background-color: #fff;
	padding: 0px;	
}

div ul li:hover ul {
	display: block;	
}

div ul li ul li {
	width: 180px;
	border-radius: 4px;
}

div ul li ul li a {
	padding: 12px 14px;

	position: relative;

	border-radius: 4px;
	border: 0px;
	white-space: pre-wrap;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; 
  /*height: auto; */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}